# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
env/
venv/
*.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore data files
*.csv
*.tsv
*.dat
*.xlsx
*.json
*.zip

# Ignore log files
*.log

# Ignore Python cache
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore IDE and editor settings
.idea/
.vscode/
*.code-workspace

# Ignore model files
*.h5
*.pkl
*.joblib
*.sav

